[user]
	email = mat.decaille@gmail.com
	name = Mathias D
[credential]
	helper = manager
[core]
	preloadIndex = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autoStash = true
	missingCommitsCheck = warn